<div class="popup-view" ng-if="popupShowInsert">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			INSERISCI AUTORE <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>
		<div class="margin-top-popup fixed-popup-content">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					NOME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelInsertAuthor.name" required />
				</div>
				<div class="col-xs-12 ">
					COGNOME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelInsertAuthor.surname" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					DATA DI NASCITA <input type="date"
						class="input-text margin-bottom-ten "
						ng-model="modelInsertAuthor.birthday" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					DATA DI MORTE <input type="date"
						class="input-text margin-bottom-ten "
						ng-model="modelInsertAuthor.deathDate" required />
				</div>
				<div class="col-xs-12 ">
					NAZIONALIT&Agrave; <input type="text"
						class="input-text margin-bottom-ten"
						ng-model="modelInsertAuthor.nationality" required />
				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					BIOGRAFIA
					<textarea class="input-text resize"
						ng-model="modelInsertAuthor.biography"> </textarea>
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="addAuthor(modelInsertAuthor)">
		</div>
	</div>
</div>
<div class="mycontainer " ng-init="initAuthor()">
<div class="padding-ten">
	<input ng-model="nameStruct" class="input-text center"  placeholder="Cerca per autore,anno,opera" style="width: 300px;">
</div>
	<div class="opera margin5  shadowBox selectBackground  style-img"
		ng-click="goToAddAuthor()" ng-if="currentUser.role=='ADMIN'">
		<img src="css/image/add.png" class="centerAuthorAdd operaImage">
	</div>
	<div class="opera margin5 shadowBox "
		ng-repeat="author in modelAuthors | filter: nameStruct "  ng-click="authorDetails(author.id)">
		<img src="{{author.imageUrl}}" id= "author.id" class=" operaImage style-img">
		<div class="authorDetail white blackBackground">
			<div class="table-head">
				<div class="table-row">
					<div class="table-cell text-center text-upper">{{author.name}}
						{{author.surname}}</div>
					<div class="table-cell text-center text-upper "></div>
				</div>
			</div>
		</div>
	</div>
</div>