<div class="popup-view" ng-if="popupShowInsert">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			INSERISCI OPERA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="margin-top-popup fixed-popup-content">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					TITOLO <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelAddpera.title" required />
				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					TECNICA <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelAddpera.technique" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					ANNO <input type="number" name="surname"
						class="input-text margin-bottom-ten " ng-model="modelAddpera.year"
						required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup-guest font">
					DIMENSIONI</div>
				<div class="col-xs-6 color-Manatee margin-popup-guest font">
					<input type="number" name="date"
						class="input-text margin-bottom-ten" placeholder="Larghezza"
						ng-model="modelAddpera.dimension.width" required />
				</div>
				<div class="col-xs-6 color-Manatee margin-popup-guest font">

					<input type="number" name="language" class="input-text"
						placeholder="Altezza" ng-model="modelAddpera.dimension.height"
						required />

				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					DESCRIZIONE
					<textarea class="input-text resize"
						ng-model="modelAddpera.description"> </textarea>
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="addOpera(modelAddpera)">
		</div>
	</div>
</div>
<div class="popup-view" ng-if="popupShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			MODIFICA ARTISTA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="margin-top-popup fixed-popup-content">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					NOME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelUpdateAuthor.name" required />
				</div>
				<div class="col-xs-12 ">
					COGNOME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelUpdateAuthor.surname" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					DATA DI NASCITA <input type="date"
						class="input-text margin-bottom-ten "
						ng-model="modelUpdateAuthor.birthday" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					DATA DI MORTE <input type="date"
						class="input-text margin-bottom-ten "
						ng-model="modelUpdateAuthor.deathDate" required />
				</div>
				<div class="col-xs-12 ">
					NAZIONALIT&Agrave; <input type="text"
						class="input-text margin-bottom-ten"
						ng-model="modelUpdateAuthor.nationality" required />
				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					BIOGRAFIA
					<textarea class="input-text resize"
						ng-model="modelUpdateAuthor.biography"> </textarea>
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="modifyAuthor(modelUpdateAuthor)">
		</div>

	</div>
</div>


<div class="popup-view" ng-if="popupChooseShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			MODIFICA ARTISTA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="col-xs-12">
			<input type="file" id="file">
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="chooseService()">

		</div>

	</div>
</div>
<div class="popup-view" ng-if="deletePopupShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			ELIMINA ARTISTA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="col-xs-12">Eliminare?</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="CONFERMA"
				ng-click="deleteAuthor()">
		</div>

	</div>
</div>

<div class="table-head positionAll"
	style="height: 100%; position: absolute; padding-top: 100px;"
	ng-init="initDetails()">
	<div class="table-row">

		<div class="table-cell padding-twenty alignTop" style="width: 20%;">
			<div class="table-head">
				<img src="{{artistOpera.imageUrl}}"
					class=" operaImage padding-right-twenty big">
				<div class="table-head padding-top-five"
					ng-if="currentUser.role=='ADMIN'">
					<img src="css/image/delete.png"
						ng-click="goToDeleteAuthor(artistOpera.id)" class="pointer">
					<img src="css/image/modify.png"
						ng-click="goToModifyAuthor(artistOpera)"
						class="padding-right-five pointer"> <img
						src="css/image/choose.png" ng-click="chooseAuthor(artistOpera.id)"
						class="padding-right-five pointer">
			
				</div>
			</div>
			<div class="table-head">
				<div class="table-row">
					<div class="table-cell width-ten padding-top-twenty">BIOGRAFIA</div>
				</div>
				<div class="table-row">
					<div class="table-cell padding-top-twenty word-break ">{{artistOpera.biography}}</div>
				</div>
			</div>
		</div>
		<div class="table-cell alignTop padding-top-twenty">
			<div class="table-head height-thirty">
				<div class="table-row">
					<span class="text-upper">{{artistOpera.name}}
						{{artistOpera.surname}}</span>
				</div>
				<div class="table-row">
					<div class="table-cell width-twelve">Data di Nascita:</div>
					<div class="table-cell">{{artistOpera.bhirtday | date:'dd MMMM yyyy' }}</div>
				</div>
				<div class="table-row">
					<div class="table-cell width-twelve">Data di Morte:</div>
					<div class="table-cell">{{artistOpera.deathDate | date:'dd MMMM yyyy'}}</div>
				</div>
				<div class="table-row">
					<div class="table-cell width-twelve">Nazionalit&agrave;:</div>
					<div class="table-cell">{{artistOpera.nationality}}</div>
				</div>

			</div>
			<div class="table-head">
				<div class="table-row">
					<span>Altre Opere Correlate all'Autore</span>
				</div>
				<div class="table-row" >
					<div
						class="table-cell margin5  small shadowBoxSmall selectBackground"
						ng-click="goToAddOpera(artistOpera.id)" ng-if="currentUser.role=='ADMIN'">
						<img src="css/image/add.png" class="centerAdd ">
					</div>

					<div class="table-cell small"
						ng-repeat="opera in artistOpera.works" style="margin-right: 5px;"
						ng-click="goToOpera(opera.id)">
						<div class="opera shadowBoxSmall margin5"
							ng-click="operaDetails(opera.id)">
							<img src="{{opera.imageUrl}}" class=" operaImage small">
							<div class="operaDetail white blackBackground smallDetail">
								<div class="table-head">
									<div class="table-row">
										<div class="table-cell text-center text-upper">{{opera.title}}</div>
									</div>
									<div class="table-row">
										<div class="table-cell text-center text-upper">{{opera.year}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>