
<div class="popup-view" ng-if="popupShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			MODIFICA OPERA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="margin-top-popup fixed-popup-content">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					NOME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelUpdateOpera.title" required />
				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					TECNICA <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelUpdateOpera.technique" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup font">
					ANNO <input type="number" name="surname"
						class="input-text margin-bottom-ten "
						ng-model="modelUpdateOpera.year" required />
				</div>
				<div class="col-xs-12 color-Manatee margin-popup-guest font">
					DIMENSIONI</div>
				<div class="col-xs-6 color-Manatee margin-popup-guest font">
					<input type="number" name="date"
						class="input-text margin-bottom-ten" placeholder="Larghezza"
						ng-model="modelUpdateOpera.dimension.width" required />
				</div>
				<div class="col-xs-6 color-Manatee margin-popup-guest font">

					<input type="number" name="language" class="input-text"
						placeholder="Altezza" ng-model="modelUpdateOpera.dimension.height"
						required />

				</div>
				<div class="col-xs-12 color-Manatee font  margin-popup">
					DESCRIZIONE
					<textarea class="input-text resize"
						ng-model="modelUpdateOpera.description"> </textarea>
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="modifyOpera(modelUpdateOpera)">
		</div>

	</div>
</div>


<div class="popup-view" ng-if="popupChooseShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			MODIFICA IMMAGINE <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="col-xs-12">
			<input type="file" id="file">
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="chooseService()">

		</div>

	</div>
</div>
<div class="popup-view" ng-if="deletePopupShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			ELIMINA OPERA <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="col-xs-12">Eliminare?</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="CONFERMA"
				ng-click="deleteOpera()">
		</div>

	</div>
</div>

<div class="popup-view" ng-if="popupShowImage">
	<div class="popup-img">
		<img src="css/image/close.png" ng-click="close()"
			class="closePopup pointer"> <img src="{{image}}" class="center"
			style="margin-top: 5px; height: 750px">

	</div>
</div>

<div class="table-head positionAll"
	style="height: 100%; position: absolute; padding-top: 100px;"
	ng-init="currentOpera()">
	<div class="table-row">

		<div class="table-cell padding-twenty alignTop" style="width: 20%;">
			<div class="table-head">
				<img src="{{detailsOperas.imageUrl}}"
				style="cursor: pointer;"
					class=" operaImage padding-right-twenty big"
					ng-click="preview(detailsOperas.imageUrl)">
			</div>
			<div class="table-head padding-top-five"
				ng-if="currentUser.role=='ADMIN'">
				<img src="css/image/delete.png"
					ng-click="goToDeleteOpera(detailsOperas.id)" class="pointer">
				<img src="css/image/modify.png"
					ng-click="goToModifyOpera(detailsOperas)"
					class="padding-right-five pointer"> <img
					src="css/image/choose.png" ng-click="chooseOpera(detailsOperas.id)"
					class="padding-right-five pointer">
			</div>
			<div clas="table-head">

				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" ng-checked="detailsOperas.avarageRating == 5" ng-click="rating('5')" />
					<label class="full" for="star5" title="Awesome - 5 stars" ng-model=""></label> 
					<input type="radio" id="star4half" name="rating" value="4 and a half" ng-click="rating('4.5')" ng-checked="detailsOperas.avarageRating == 4.5"  />
					<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> 
					<input type="radio"
						id="star4" name="rating" value="4" ng-click="rating('4')" ng-checked="detailsOperas.avarageRating == 4" /><label
						class="full" for="star4" title="Pretty good - 4 stars"></label> <input
						type="radio" id="star3half" name="rating" value="3 and a half"
						ng-click="rating('3.5')" ng-checked="detailsOperas.avarageRating == 3.5"  /><label class="half" for="star3half"
						title="Meh - 3.5 stars"></label> <input type="radio" id="star3"
						name="rating" value="3" ng-click="rating('3')" ng-checked="detailsOperas.avarageRating == 3" /><label
						class="full" for="star3" title="Meh - 3 stars"></label> <input
						type="radio" id="star2half" name="rating" value="2 and a half"
						ng-click="rating('2.5')" ng-checked="detailsOperas.avarageRating == 2.5"  /><label class="half" for="star2half"
						title="Kinda bad - 2.5 stars"></label> <input type="radio"
						id="star2" name="rating" value="2" ng-click="rating('2')" ng-checked="detailsOperas.avarageRating == 2"  /><label
						class="full" for="star2" title="Kinda bad - 2 stars"></label> <input
						type="radio" id="star1half" name="rating" value="1 and a half"
						ng-click="rating('1.5')" ng-checked="detailsOperas.avarageRating == 1.5" /><label class="half" for="star1half"
						title="Meh - 1.5 stars"></label> <input type="radio" id="star1"
						name="rating" value="1" ng-click="rating('1')" ng-checked="detailsOperas.avarageRating == 1" /><label
						class="full" for="star1" title="Sucks big time - 1 star"></label>
					<input type="radio" id="starhalf" name="rating" value="half"
						ng-click="rating('0.5')" ng-checked="detailsOperas.avarageRating == 0.5 " /> <label class="half" for="starhalf"
						title="Sucks big time - 0.5 stars"></label>
				</fieldset><span stype="font-size: 20px;">{{detailsOperas.avarageRating}}/5</span>
			</div>
			<div class="table-head">
				<div class="table-row">
					<div class="table-cell width-ten padding-top-twenty">DESCRIZIONE</div>
				</div>
				<div class="table-row">
					<div class="table-cell padding-top-twenty word-break ">{{detailsOperas.description}}</div>
				</div>
			</div>
		</div>
		<div class="table-cell alignTop padding-top-twenty">
			<div class="table-head height-thirty">
				<div style="width: 122px;">
					<span class="text-upper">{{detailsOperas.title}}</span>
				</div>
				<div class="table-row">
					<div class="table-cell width-ten">Anno:</div>
					<div class="table-cell">{{detailsOperas.year}}</div>
				</div>
				<div class="table-row">
					<div class="table-cell width-ten">Autore:</div>
					<div class="table-cell">{{detailsOperas.author.name}}
						{{detailsOperas.author.surname}}</div>
				</div>
				<div class="table-row">
					<div class="table-cell width-ten">Tecnica:</div>
					<div class="table-cell">{{detailsOperas.technique}}</div>
				</div>
				<div class="table-row">
					<div class="table-cell width-ten">Dimensioni:</div>
					<div class="table-cell">{{detailsOperas.dimension.width}} x
						{{detailsOperas.dimension.height}}</div>
				</div>

			</div>
			<div ng-init="operaComments()">

				<div class="text-center">COMMENTA</div>
				<div class="table-head">
					<div class="table-cell">
						<textarea
							ng-keypress="checkKeypress($event,detailsOperas.id,modelComment)"
							class="margin-top-five center width-fifty style-textarea resize"
							ng-model="modelComment">
						</textarea>
					</div>
				</div>
				<div class="scroll-comment selectBackground">
					<div class="chatBox" ng-repeat="comment in comments">
						<div class="table-head comment-user">{{comment.utente.username}}</div>
						<div class="table-head">{{comment.comment}}</div>
						<div class="table-head comment-detail">{{comment.date |
							date:'dd MMMM yyyy HH:mm'}}</div>

					</div>
				</div>
			</div>
		</div>
		<div class="table-cell alignTop padding-top-twenty"
			style="width: 20%;">
			<div class="table-row">
				<span>Altre Opere Correlate all'Autore</span>
			</div>
			<div class="table-row" ng-repeat="opera in artistOpera">
				<div class="table-cell" ng-click="operaFindById(opera.id)">
					<div class="opera shadowBoxSmall margin5">
						<img src="{{opera.imageUrl}}" class=" operaImage small" style="cursor: pointer;">
						<div class="operaDetail white blackBackground smallDetail">
							<div class="table-head">
								<div class="table-row">
									<div class="table-cell text-center text-upper">{{opera.title}}</div>
								</div>
								<div class="table-row">
									<div class="table-cell text-center text-upper">{{opera.year}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>