<div class="popup-view" ng-if="popupShow">
	<div class="popup-guests">
		<div class="margin10 fixed-popup-content">
			<img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					USERNAME <input type="text" class="input-text margin-bottom-ten"
						ng-model="modelUpdateUser.username" required />
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="modifyUsername(modelUpdateUser)">
		</div>

	</div>
</div>

<div class="popup-view" ng-if="popupShowPassword">
	<div class="popup-guests">

		<div class="margin10  fixed-popup-content">
			<img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
			<form id="crea" method="post">
				<div class="col-xs-12 ">
					VECCHIA PASSWORD <input type="text"
						class="input-text margin-bottom-ten"
						ng-model="modelUpdateUser.oldPassword" required />
				</div>
				<div class="col-xs-12 ">
					NUOVA PASSWORD <input type="text"
						class="input-text margin-bottom-ten"
						ng-model="modelUpdateUser.password" required />
				</div>
				<div class="col-xs-12 ">
					CONFERMA PASSWORD <input type="text"
						class="input-text margin-bottom-ten"
						ng-model="modelUpdateUser.confirmPassword" required />
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="modifyPassword(modelUpdateUser)">
		</div>

	</div>
</div>

<div class="popup-view" ng-if="popupChooseShow">
	<div class="popup-guests">

		<div class="col-xs-12  padding-ten">
			MODIFICA PROFILO <img src="css/image/close.png" ng-click="close()"
				class="closePopup pointer">
		</div>

		<div class="col-xs-12">
			<input type="file" id="file">
		</div>
		<div class="col-xs-12">
			<input type="submit" class="input button red" value="SALVA"
				ng-click="chooseService()">

		</div>

	</div>
</div>

<div class="table-head positionAll"
	style="height: 100%; position: absolute; padding-top: 100px;">
	<div class="table-row">

		<div class="table-cell padding-twenty alignTop" style="width: 20%;">
			<div class="table-head">
				<img src="{{currentUser.imageUrl}}" style="cursor: pointer;"
					class=" operaImage padding-right-twenty big"> <img
					src="css/image/choose.png" ng-click="chooseUser(artistOpera.id)"
					class="padding-right-five pointer">
			</div>
		</div>
		<div class="table-cell alignTop padding-top-twenty">
			<div class="table-head height-thirty">
				<div class="table-row">
					<span class="text-upper">{{currentUser.username}}</span> <input
						type="button" class="buttonTransparent profileButton"
						value="Modifica" ng-click="goToModifyUsername(currentUser)"
						style="margin-bottom: 5px;"> <input type="button"
						class="buttonTransparent profileButton" value="Cambia Password"
						ng-click="goToModifyPassword(currentUser.id)">
				</div>

			</div>
			<div class="table-head">
				<div class="table-row">
					<span>Le opere che ti piacciono</span>
				</div>
				<div class="table-row" ng-init="userFavorite(currentUser.id)">

					<div class="table-cell small" ng-repeat="opera in favoriteOperas"
						style="margin-right: 5px;" ng-click="goToOpera(opera.id)">
						<div class="opera shadowBoxSmall margin5"
							ng-click="operaDetails(opera.id)">
							<img src="{{opera.imageUrl}}" class=" operaImage small">
							<div class="operaDetail white blackBackground smallDetail">
								<div class="table-head">
									<div class="table-row">
										<div class="table-cell text-center text-upper">{{opera.title}}</div>
									</div>
									<div class="table-row">
										<div class="table-cell text-center text-upper">{{opera.year}}</div>
									</div>
									<div class="table-cell text-center text-upper ">
										<img src="css/image/favorite-on.png"
											ng-click="remove(opera.id);" stop-event>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>