
<div class="container color-body">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center ">
						<img src="css/image/logo.png" class="center" />
					</h2>
				</div>
				<div class="col-xs-12">
					<div class="login-container">
						<div class="white  margin30">REGISTRAZIONE</div>
						<form id="login" method="post">
							<div class="white margin30 light">
								<span class="opacity"> Nome Utente </span> <input type="text"
									name="name" class="input-text" ng-model="modelRegister.username" />
							</div>
							<div class="white  margin30 light">
								<span class="opacity"> Password </span> <input type="password"
									name="password" class="input-text" ng-model="modelRegister.password" />
							</div>
							<div class="white  margin30 light">
								<span class="opacity"> Conferma Password </span> <input
									type="password" name="password" class="input-text"
									ng-model="modelRegister.confirmPassword" />
							</div>
							<input type="submit" class=" button red" value="REGISTRATI" ng-click="register()">
							<input type="submit" class="buttonTransparent" value="LOGIN" ng-click="goToLogin()">

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-xs-4 color-body"></div>
</div>

