
<div class="mycontainer" ng-init="init()">

<div class="padding-ten">
	<input ng-model="nameStruct" class="input-text center"  placeholder="Cerca per autore,anno,opera" style="width: 300px;">
</div>

	<div class="opera shadowBox margin10 "
		ng-repeat="opera in modelOpera | filter: nameStruct  "
		ng-click="operaDetails(opera.id)">
		<img src="{{opera.imageUrl}}" class=" operaImage style-img">
		<div class="operaDetail white blackBackground">
			<div class="table-head">
				<div class="table-row">
					<div class="table-cell text-center text-upper">{{opera.title}}</div>
					<div class="table-cell text-center text-upper ">
						<img src="css/image/favorite.png" ng-hide="{{opera.favorite}}"
							ng-click="saveFavorite(opera.id);" stop-event> <img
							src="css/image/favorite-on.png" ng-show="{{opera.favorite}}"
							ng-click="remove(opera.id);" stop-event>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell padding-left-ten">
						<span class="padding-right-five font-size-ten">Anno:  {{opera.year}} </span>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell padding-left-ten ">
						<span class="padding-right-five font-size-ten">Autore:
						{{opera.author.name}} {{opera.author.surname}}  </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>