<!DOCTYPE html>
<html>
<head>

<!-- ANGGULAR JS -->
<script type="text/javascript" src="js/angular/angular.min.js"></script>

<!-- ANGULAR ROUTE -->
<script type="text/javascript" src="./js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/config/route.js"></script>
<script type="text/javascript" src="./app/controller/loginController.js"></script>
<script type="text/javascript" src="./app/controller/indexController.js"></script>
<script type="text/javascript" src="./app/controller/profileController.js"></script>
<script type="text/javascript" src="./app/controller/artistController.js"></script>
<script type="text/javascript" src="./app/controller/artistDetailsController.js"></script>
<script type="text/javascript" src="app/controller/registerController.js"></script>
<script type="text/javascript" src="./app/controller/operaController.js"></script>
<script type="text/javascript" src="./app/controller/slideshowController.js"></script>

<!-- SERVICES -->
<script type="text/javascript" src="app/services/callReqService.js"></script>
<script type="text/javascript" src="app/services/mainServices.js"></script>
<script type="text/javascript" src="app/services/operaServices.js"></script>
<script type="text/javascript" src="app/services/imageService.js"></script>
<script type="text/javascript" src="app/services/toastService.js"></script>

 <!-- TOASTR -->
  <link rel="stylesheet" type="text/css" href="js/toastr/angular-toastr.css" />
<script type="text/javascript" src="js/toastr/angular-toastr.tpls.js"></script>
  
<!-- CSS -->
<link rel="stylesheet" type="text/css"
	href="css/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/image.css">
<link rel="stylesheet" type="text/css" href="css/color.css">
<link rel="stylesheet" type="text/css" href="css/positions.css">
<link rel="stylesheet" type="text/css" href="css/padding.css">
<link rel="stylesheet" type="text/css" href="css/popup.css">
<link rel="stylesheet" type="text/css" href="css/rating.css">
<link rel="stylesheet" type="text/css" href="js/toastr/toastr.css"/> 

<!-- JQUERY -->
<script type="text/javascript" src="js/jQuery/jquery-3.1.1.min.js"></script>

<!-- DIRECTIVES -->
<script type="text/javascript" src="app/directives/propagationDirective.js"></script>
<script type="text/javascript" src="app/directives/no-cache-src.js"></script>

</head>
<body ng-app="app" class="redBackgroung" style="overflow-x:hidden" ng-controller="indexcontroller">
	<div class="table-head navBar redBackgroung" ng-if="showBar" style="top:0px;left:0px">
		<div class="table-row text-center">
			
			<div class="table-cell width-ten">
				<img src="{{currentUser.imageUrl}}" style="width: 50px; border-radius: 25px;">
				{{currentUser.username}}
			</div>
			<div class="table-cell width-twenty">
				<img src="css/image/logo.png" style="width: 119px">
			</div>
			<div class="table-cell width-ten" ng-click="goToHome()"
				ng-class="{'selectBackground': selectHome == true}">
				<a href="#!/slideshow">OPERE</a>
			</div>
		
			<div class="table-cell width-ten"
				ng-class="{'selectBackground': selectAuthor == true}">
				<a href="#!/artists"> AUTORI </a>
			</div>
			<div class="table-cell width-ten" ng-class="{'selectBackground': selectProfile == true}">
			<a href="#!/profile">PROFILO </a>
			</div>
			<div class="table-cell">
				<button class="logout buttonlogout" ng-click="logout()"></button>
			</div>
		</div>
	</div>
	<div class="table-head  main">
		<div class="table-cell alignTop ">
			<ng-view></ng-view>
		</div>
	</div>
</body>
</html>