.redBackgroung {
	background-color: #b81c1c;
}

.whiteBackground {
	background-color: white;
}

.goldBackground {
	background-color: #f1e9a3;
}

.blackBackground {
	background-color: rgba(0, 0, 0, 0.5);
}

.blackBackgroundFill {
	background-color: rgba(0, 0, 0, 1);
}

.selectBackground {
	background-color: rgba(0, 0, 0, 0.2);
}

.Manatee {
	color: #8D9A9A;
}

.red {
	color: #b81c1c;
}

.white {
	color: white;
}

::-webkit-input-placeholder {
	color: white;
	opacity: 0.6
}

input[type=date]:invalid::-webkit-datetime-edit {
	color: white;
	opacity: 0.6
}