.logo{
	background-image: url(image/logo.png);
	background-repeat: no-repeat;
	height: 200px;
}

.modify{
	background-image: url(image/modify.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.logout{
	background-image: url(image/logout.png);
	height: 40px;
	width: 40px;
}

.modify{
	background-image: url(image/close.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.grad1 {
    height: 100%;
    z-index:1;
	position: absolute;
    left:0px;
    top:0px;
    width:100%;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
.small {
	width: 150px;
	height: 180px;
	object-fit: cover;
	position: relative;
	float: left;
}
.big {
	width: 300px;
	height: 400px;
	object-fit: cover;
	position: relative;
	float: left;
}