.padding-right-five{
    padding-right: 5px;
}

.padding-right-twenty{
	padding-right:20px
}

.padding-right-twenty{
	padding-right:20px
}

.padding-left-ten{
    padding-left: 10px;
}

.padding-top-five{
	    padding-top: 5px;
}

.padding-top-twenty{
	    padding-top: 20px;
}

.padding-five{
	    padding: 5px;
}
.padding-ten{
	    padding: 10px;
}
.padding-twenty{
	padding: 20px
}

