.popup-view {
  background-color: rgba(0,0,0,0.4);   
  width: 100%; 
  height: 100%; 
  position: fixed;
  left: 0px; 
  top: 0px;
  z-index: 888;
}

.popup-guests {
  position: fixed !important;
  top: 15% !important;
  left: 25% !important;
  width: 50% !important;
  background-color: #b81c1c !important;
}
.popup-img {
  position: fixed !important;
  width: 100% !important;
  background-color: transparent !important;
}