.mycontainer {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 100%
}

.opera {
	position: relative;
	float: left;
}

.operaImage {
	object-fit: cover;
	position: relative;
	float: left;
}

.shadowBox:hover {
	box-shadow: 2px 2px 2px black;
	cursor: pointer;
}

.shadowBox {
	box-shadow: 4px 4px 4px black;
}

.shadowBoxSmall:hover {
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
}

.shadowBoxSmall {
	box-shadow: 2px 2px 2px black;
}

.wide {
	width: 600px;
	height: 100%;
	object-fit: cover;
	position: relative;
	float: left;
}

.overlap {
	right: 5px;
	position: absolute;
	z-index: 999;
}

.operaDetail {
	/*	width: 200px;
	height: 200px;
	position: relative;
	float: left;*/
	width: 200px;
	height: 90px;
	position: absolute;
	z-index: 1;
	bottom: 0px;
	cursor: pointer;
}

.authorDetail {
	/*	width: 200px;
	height: 200px;
	position: relative;
	float: left;*/
	width: 200px;
	height: 45px;
	position: absolute;
	z-index: 1;
	bottom: 0px;
	cursor: pointer;
}

.smallDetail {
	/*	width: 200px;
	height: 200px;
	position: relative;
	float: left;*/
	width: 150px;
	height: 70px;
	position: absolute;
	z-index: 0;
	bottom: 0px;
	cursor: pointer;
}

.position-cell {
	position: relative;
	top: 0;
	left: 0px;
}

.lastOperaRow {
	bottom: 100px;
	position: absolute;
	left: 50px;
	z-index: 1;
}

.center {
	margin: auto;
	display: block;
}

.positionAll {
	top: 0px;
	left: 0px
}