@font-face {
      font-family: 'Scala-BoldItalic';
      src: url('fonts/Scala-BoldItalic.otf');
      src: local('Scala-Bold'), url('fonts/Scala-BoldItalic.otf') format('truetype');
    }

    @font-face {
      font-family: 'Scala-Italic';
      src: url('fonts/Scala-Italicn.otf');
      src: local('Scala-Italic'), url('fonts/Scala-Italic.otf') format('truetype');
    }

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	color: #f8f8f8;
	font-family: 'Scala-Italic';
}


.table-head {

	display: table;
	width: 100%;
}

.table-cell {

	display: table-cell;
	vertical-align: middle;
	padding: 0px;
}

.table-row {

	display: table-row;
}
.horizontal{
	height: 200px;
	overflow-y:hidden;
	overflow-x:hidden; 
}
.operaDescription{
	height: 300px; 
	vertical-align: inherit;
    padding: 50px;
}

.bold{
	font-family: 'Scala-BoldItalic'
}

.light{
	font-family: 'Scala-Italic'
}

.navBar{
	height: 60px;
	border-bottom: 1px solid  white;
	position: fixed;
    z-index: 1;
}

.bar{
	width: 20%;
	border-right: 1px solid  white;
}

.main{
	height: 100%;
}

.center{
	margin: auto;
	display: block;
}

.width20{
	width: 20%
}

.container{
	width: 100%;
	height: 100%;
}

.login-container {
	margin-top: 70px;
	padding: 30px 25px;
}
.login-container h2 {
	color:#FFF;
}
.login-form {
	margin-top: 0px;
}
.input-text {
	width:100%;
	padding: 6px;
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 2px solid #fff;
}

.button {
	border: 2px;
	background-color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 6px;
	margin-left: auto;
	margin-right: auto;
	color: #F8F8F8;
	margin-top: 20px;
	margin-bottom: 10px;
	float: none;
	position: relative;
	display: block;
}

.buttonTransparent {
	border: 2px solid  white;
	background-color: transparent;
	border-radius: 25px;
	width: 200px;
	padding: 6px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	float: none;
	position: relative;
	display: block;
}
.profileButton{
	position: relative;
    margin: 0px;
}
.margin30 {
	margin-bottom: 30px;
}
.margin10 {
	margin: 10px;
}
.margin5 {
	margin: 5px;
}

.top5{
	margin-top: 5px
}

.alignTop{
	vertical-align: top;
}

.buttonlogout{
	border: none;
    background-color: transparent;
    float: right;
}

.opacity{
	opacity: 0.5;
}

.text-center{
	text-align:center
}

.text-upper{
	text-transform: uppercase
}

.input-search{
	
	float: right;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    opacity: 0.5;
    margin-right: 20px;
    width: 200px;
    padding-bottom: 10px;
}

.pointer{
	    cursor: pointer;
}

.popup-view {
  background-color: rgba(0,0,0,0.4);   
  width: 100%; 
  height: 100%; 
  position: fixed;
  left: 0px; 
  top: 0px;
  z-index: 888;
}

.width-ten{
	width:10%
}

.width-fifty{
width: 50%	
}

.width-twenty{
width: 20%	
}

.width-twelve{
	width: 12%
}

.width-fifteen{
	    width: 15%;
}

.height-thirty{
	height:30%
}

.height-hundred{
	height:100%
}

.text-center{
	text-align: center
}

.style-textarea{
	    background: transparent;
    border-color: white;
}

.style-img{
	 width: 200px;
    height: 230px;
}


.float-left{
	float:left
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}


.chatBox{
	 width: 50%;
    margin: auto;
    display: block;
    border-bottom: 1px solid;
    padding: 10px;
    margin-bottom: 5px;
    word-break: break-all;
    margin-top: 5px;
}

.resize{
	resize: none;
    max-height: 200px;
}

.margin-top-five{
	margin-top: 5px;
}

.comment-detail{
	    text-align: right;
    font-size: 10px;
        opacity: 0.5;
}
.comment-user{
	    text-align: left;
	    font-size: 10px;
        opacity: 0.5;
        margin-bottom: 5px;
}

.closePopup{
	    float: right;
    width: 20px;
    height: 20px;
}

.margin-bottom-ten{
	    margin-bottom: 10px;
}

.word-break{
	word-break: break-all;
}

.centerAdd{
	    position: relative;
    top: 60px;
    left: 50px;
}

.centerAuthorAdd{
	
	top:90px;
    left: 75px;
}

.scroll-comment{
	overflow: scroll;
    height: 400px;
    overflow-x: hidden;
    width: 85%;
}

.font-size-ten{
	    font-size: 10px;
}

